body {
  background: lightblue;
  color: darkblue;
  padding: 25px;
  font-family: serif;
  font-size: 25px;
  /* text-align: center; */
}
#header {
  font-size: 30px;
  color: black;
}
#GPA {
  text-align: center;
  color: red;
}
#grades {
  text-align: center;
}
